[Unit]
Description=Rpi400Jam-Server
After=network.target
[Service]
Type=simple
User=jamulus
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
# This line below is what you want to edit according to your preferences
ExecStart=/usr/local/bin/Jamulus --server --nogui --fastupdate --discononquit \
--log /var/log/jamulus/jamulus.log \
--serverinfo "Rpi400Jam;Phoenix;225" \
--welcomemessage "<h2>Welcome to RpiJam400 Jamulus Server</h2>" \
--numchannels 10
# end of section you might want to alter
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus
[Install]
WantedBy=multi-user.target
